* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #1E3A90;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body, html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  -webkit-app-region: no-drag;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: transparent;
}

button, input, form, a, a:visited {
  -webkit-app-region: no-drag;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  -webkit-app-region: drag;
  background: #2c55bd;
  background: radial-gradient(circle, #2c55bd 0%, #13266f 100%);
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.App .topBtnWrap {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 5px 8px;
}
.App .topBtnWrap .topBtn {
  cursor: pointer;
  -webkit-app-region: no-drag;
  font-size: 15px;
  margin-right: 5px;
}
.App .navWrap {
  display: flex;
  justify-content: center;
  top: 60px;
  position: absolute;
}
.App .navWrap .mainnav {
  display: flex;
  list-style-type: none;
  width: 400px;
  border-bottom: 2px solid #1E3A90;
  height: 40px;
  margin: 0px 0px 0px 0px !important;
  padding: 0px;
}
.App .navWrap .mainnav li {
  padding: 0;
  margin: 0 0 20px 10px;
}
.App .navWrap .mainnav .navItems {
  text-decoration: none;
  padding: 8px 10px;
  color: white;
  text-transform: uppercase;
  transition: background 500ms ease-in-out;
}
.App .navWrap .mainnav .navItems.active {
  border-radius: 5px;
  background: #142757;
}
.App .navWrap .mainnav .navItems:hover {
  border-radius: 5px;
  background: #142757;
  border-radius: 5px;
}
.App .dbstatus-wrap {
  position: absolute;
  top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  border-radius: 8px;
  width: 550px;
  border: 1px solid #1E3A90;
  color: white;
  padding: 10px;
  -webkit-app-region: no-drag;
}
.App .dbstatus-wrap .content-stat-wrap {
  display: flex;
  border-right: 2px solid #1E3A90;
  transition: all 500ms ease-in-out;
  justify-content: center;
}
.App .dbstatus-wrap .content-stat-wrap:last-child {
  border-right: none;
}
.App .dbstatus-wrap .content-stat-wrap .statCount {
  font-size: 30px;
}
.App .dbstatus-wrap .content-stat-wrap .statDesc {
  font-size: 12px;
  padding: 5px 10px;
}
.App .spinner-wrap {
  content: "";
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  position: fixed;
  background: radial-gradient(circle, #2c55bd 0%, #13266f 100%);
}
.App .spinner-wrap .spinner:before {
  display: block;
  content: "";
  border-top: 2px solid #1E3A90;
  height: 50px;
  width: 50px;
  top: 45%;
  left: 45%;
  position: fixed;
  transform: translate(-45%, -45%);
  border-radius: 50%;
  animation: spin 500ms linear infinite;
}
.App .spinner-wrap .spinner:after {
  display: block;
  content: "";
  border-bottom: 2px solid #1E3A90;
  height: 50px;
  width: 50px;
  top: 45%;
  left: 45%;
  position: fixed;
  transform: translate(-45%, -45%);
  border-radius: 50%;
  animation: spin 500ms linear infinite;
}
.App .page {
  display: flex;
  justify-content: center;
  margin-top: 240px;
}
.App .page .backupPage {
  display: flex;
  justify-content: center;
  width: 100%;
}
.App .page .backupPage .backupBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  -webkit-app-region: no-drag;
  width: 190px;
  height: 230px;
  background: #2c55bd;
  margin: 8px;
  cursor: pointer;
  transition: background 500ms ease-in-out;
}
.App .page .backupPage .backupBox .description {
  color: white;
  font-size: 0.6rem;
}
.App .page .backupPage .backupBox:hover {
  background: #4F6DBB;
}
.App .page .databasePage {
  position: relative;
  padding: 25px 15px;
  overflow-y: scroll;
  display: flex;
  width: 550px;
  justify-content: center;
  -webkit-app-region: no-drag;
}
.App .page .databasePage .dbitems {
  display: flex;
  background: #4F6DBB;
  cursor: pointer;
  color: white;
  padding: 8px;
  border: 1px solid #1E3A90;
  border-radius: 5px;
  margin-bottom: 10px;
}
.App .page .databasePage .dbitems .list-icon {
  margin-right: 5px;
}
.App .page .settingsPage {
  -webkit-app-region: no-drag;
  display: flex;
  justify-content: flex-start;
  width: 550px;
  height: 300px;
  padding: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}