*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

	 ::-webkit-scrollbar{
	    width: 8px;
	 }
	 ::-webkit-scrollbar-track{
	    box-shadow: inset 0 0 5px #1E3A90;
	    border-radius: 10px;
	 }
	 /* Handle */
      ::-webkit-scrollbar-thumb {
	background: #888;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
	background: #555;
      }

body,html{
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
   padding: 0px;
   margin: 0px;
   -webkit-app-region: no-drag;
   height: 100%;
   width: 100%;
   overflow: hidden;
   background: transparent;
}

button,input,form,a,a:visited{
    -webkit-app-region: no-drag;
}

#root{
  height: 100%;
}

.backupModal{
   outline: none;
   background: white;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   position: absolute;
   border-radius: 8px;
   width: 400px !important;
   height: 300px !important;
   .quickBackupContent{
         
   }
}

.App{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  -webkit-app-region: drag;
  background: rgb(44,85,189);
  background: radial-gradient(circle, rgba(44,85,189,1) 0%, rgba(19,38,111,1) 100%);
  width: 100%;
  height:100%;
  border-radius: 8px;
  .topBtnWrap{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding: 5px 8px;
      .topBtn{
	 cursor: pointer;
	 -webkit-app-region: no-drag;
	 font-size: 15px;
	 margin-right: 5px;
      }
   }
  .navWrap{
     display: flex;
     justify-content: center;
     top: 60px;
     position: absolute;
     .mainnav{
	 display: flex;
	 list-style-type: none;
	 width: 400px;
	 border-bottom: 2px solid #1E3A90;
	 li{
	    padding: 0;
	    margin: 0 0 20px 10px;
	 }
	 height: 40px;
	 margin: 0px 0px 0px 0px !important;
	 padding: 0px;
	 .navItems{
	    text-decoration: none;
	    padding: 8px 10px;
	    color: white;
	    text-transform: uppercase;
	    transition: background 500ms ease-in-out;
	    &.active{
	       border-radius: 5px;
	       background: #142757; 
	    }
	    &:hover{
	       border-radius: 5px;
	       background: #142757;
	       border-radius: 5px;
	    }
	 }
      } 
  }
  .dbstatus-wrap{
      position: absolute;
      top:130px;
      display: flex;
      justify-content: center;
      align-items : center;
      height: 140px;
      border-radius: 8px;
      width: 550px;
      border: 1px solid #1E3A90;
      color: white;
      padding: 10px;
      -webkit-app-region: no-drag;
      .content-stat-wrap{
	 display: flex;
	 border-right: 2px solid #1E3A90;
	 transition: all 500ms ease-in-out;
	 &:last-child{
	    border-right: none;
	 }
	 justify-content: center;
	 .statCount{
	    font-size: 30px;
	 }
	 .statDesc{
	    font-size: 12px;
	    padding: 5px 10px;
	 }
      } 
  }
  .spinner-wrap{
      content: "";
      display:flex;
      justify-content: center;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 10;
      position: fixed;
      background: radial-gradient(circle, rgba(0,0,0,.5) 0%, rgba(3,3,3,.5) 100%);
      .spinner{
	 &:before{
	    display: block;
	    content: "";   
	    border-top: 4px solid white;
	    height: 50px;
	    width: 50px;
	    top: 45%;
	    left:45%;
	    position: fixed;
	    transform: translate(-45%,-45%);
	    border-radius: 50%;
	    animation: spin 500ms linear infinite;
	 }
	 &:after{
	    display: block;
	    content: "";
	    border-bottom: 4px solid white;
	    height: 50px;
	    width: 50px;
	    top: 45%;
	    left:45%;
	    position: fixed;
	    transform: translate(-45%,-45%);
	    border-radius: 50%;
	    animation: spin 500ms linear infinite;
	 }
      } 
  }
  .page{
      display:flex;
      justify-content:center;
      margin-top: 240px;
      .backupPage{	
	 display: flex;
	 justify-content: center;
	 width: 100%;
	 .backupBox{
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    text-align: center;
	    border-radius: 8px;
	    -webkit-app-region: no-drag;
	    width: 190px;
	    height: 230px;
	    background: #2c55bd;
	    margin: 8px;
	    cursor: pointer;
	    .description{
	       color: white;
	       font-size: .6rem;
	    }
	    transition: background 500ms ease-in-out;
	    &:hover{
	       background: #4F6DBB;
	    }
	 }
      }
      .databasePage{
	 position: relative;
	 padding:25px 15px;
	 overflow-y: scroll;
	 .dbitems{
	    display: flex;
	    background: #4F6DBB;
	    cursor: pointer;
	    color: white;
	    padding: 8px;
	    border: 1px solid #1E3A90;
	    border-radius: 5px;
	    margin-bottom: 10px;
	    .list-icon{
	       margin-right: 5px;
	    }
	 }
	 display: flex;
	 width: 550px;
	 justify-content: center;
	 -webkit-app-region: no-drag;
      }     
      .settingsPage{
	 -webkit-app-region: no-drag;
	 display: flex;
	 justify-content:flex-start;
	 width: 550px;
	 height: 300px;
	 padding: 10px;
      }
  }
}

@keyframes spin{
   0%{ transform:rotate(0deg) }
   100%{ transform:rotate(360deg) }
}
